@font-face {
    font-family: eb-garamond;
    src: url(../assets/fonts/EB\ Garamond\ Regular\ 400.ttf);
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: "Helvetica Neue LT W05_75 Bold", sans-serif;
    padding: 10px 10px;
}

p, li {
    font-family: eb-garamond, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
  color:black;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: solid .5px black;
  top: 0;
}

@media screen and (min-width: 768px) {
 
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 75px;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-bottom: solid .5px black;
    top: 0;
    z-index: 1;
}
}

.upper-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0, 25px;
    margin: 10%;
}

@media screen and (min-width: 1024px) {
  .upper-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

nav {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}
ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 25px 15px 5px;
    transition: all .4s ease-in-out;

}

nav ul li:hover {
  transform: scale(1.3);
  text-shadow: rgb(194, 194, 194) 1px 0 10px;}

nav ul li a {
    font-family: "Helvetica Neue LT W05_75 Bold", sans-serif;
    color: black;
    text-decoration: none;
}

nav ul li a:visited {
  color: black;
}

.about-container {
    display: flex;
    border: solid .5px black;
    max-width: 100%;
    align-items: center;
    box-shadow: 24px 18px #02eeff;
    padding: 15 15 15 15;
}

@media screen and (min-width: 768px) {
  .about-container{
    flex-direction: row;
    max-width: 45%;
    margin: 25px 0px;
  }
  
}

@media screen and (min-width: 1024px) {
  .about-container{
    flex-direction: column-reverse;
    margin: 25px 0px;
  }
  
}

.about-paragraphs {
  display: block;
}

.about-container p, h2,
.picture-container h2, h3 {
    padding: 10px 10px;
    text-shadow: 2px 2px rgb(231, 225, 225);
}

.picture-container {
    max-width: 100%;
    max-height: 500px;
    justify-content: center;
    background-color: white;
    border: solid .5px black;
    box-shadow: 24px 18px #ffb602;
    padding: 15 15 15 15;
}

@media screen and (min-width: 768px) {
  .picture-container {
    max-width: 45%;
  }
  
}

.picture-container img {
    max-width: 100%;
}

.lower-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
}

.lower-content > div {
    width: 50%;
}

.lower-content li {
    list-style-type: none;
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .works-container > h2 {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
    border-top: solid .5px black;
  }

  footer p {
    padding: 10px 20px;
  }
  
  .contact-link {
    padding:10px 20px;
    margin: 16px 0px;
  }

  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    background-color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: fit-content;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }