@font-face {
    font-family: eb-garamond;
    src: url(../assets/fonts/EB\ Garamond\ Regular\ 400.ttf);
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: "Helvetica Neue LT W05_75 Bold", sans-serif;
    padding: 10px 10px;
}

p, li {
    font-family: eb-garamond, sans-serif;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(255, 255, 255);
    border-bottom: solid .5px black;
    top: 0;
}

.upper-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0, 25px;
    margin: 10%;
}

nav {
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: "Helvetica Neue LT W05_75 Bold", sans-serif;
    padding: 0 px;
}


.about-container {
    display: flex;
    border: solid .5px black;
    max-width: 45%;
    align-items: center;
    box-shadow: 24px 18px #02eeff;
}

.about-container p, h2,
.picture-container h2, h3 {
    padding: 10px 10px;
    text-shadow: 2px 2px rgb(231, 225, 225);
}

.picture-container {
    max-width: 45%;
    justify-content: center;
    background-color: white;
    border: solid .5px black;
    box-shadow: 24px 18px #ffb602;
}

.picture-container img {
    max-width: 100%;
}

.lower-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
}

.lower-content li {
    list-style-type: none;
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }